{% compress %}

    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title }}</title>
        <style>
            body {
                display: flex;
                flex-direction: column
            }

            body,
            html,
            .h-exc-main,
            .h-exc-content {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                height: 100vh;
                width: 100vw;
                overflow: hidden;
                padding: 0;
                margin: 0;
            }

            .h-exc-main,
            .h-exc-content {
                flex-grow: 1;
            }

            .h-exc-content,
            .h-exc-main {
                height: calc(100vh - 13vh - 50px);
            }

            .h-exc-header {
                height: 10vh;
                border: #eeeeee solid 1px;
            }

            .h-exc-footer {
                border-top: #eeeeee solid 1px;
            }

            .h-exc-header,
            .h-exc-footer {
                width: 100vw;
                background-color: white;
                padding: .7rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 !important;
            }

            .h-exc-content {
                display: flex;
                justify-content: center;
                overflow: hidden;
            }

            .h-exc-content .h-exc-stacktrace,
            .h-exc-content .h-exc-detail {
                flex-grow: 3;
            }

            .h-exc-code {
                font-family: Consolas, sans-serif;
                color: #d1ecf1;
            }

            .h-exc-content .h-exc-stacktrace pre {
                max-width: 100%;
                background-color: #333333;
                color: whitesmoke;
                padding: 1rem;
                margin: 1rem;
                border: #eeeeee solid 1px;
                border-radius: 6px;
                box-shadow: 1px 1px 10px #eeeeee;
                overflow: auto;
            }

            .h-exc-exception aside {
                flex-grow: 2;
                border-right: 1px solid #eeeeee;
                padding: 1rem;
            }

            .h-exc-exception hr {
                border: #eeeeee 1px solid;
            }

            .h-exc-exception ul {
                list-style-type: circle
            }

            .h-exc-exception h4 {
                color: whitesmoke;
            }

            .h-exc-exception ul {
                margin: 1em;
            }

            .h-exc-exception h6,
            .h-exc-exception h5,
            .h-exc-footer {
                color: #dddddd;
                margin: 1em;
            }

            .h-exc-detail {
                padding: 1rem;
                width: calc(100% - 12rem);
                overflow: auto;
            }

            .h-exc-exception {
                z-index: 8000000000000;
                background: white;
            }
        </style>

    </head>

    <body>

    <div class="h-exc-exception">
        <header class="h-exc-header">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px" viewBox="0 0 504 504"
                 style="height: 20px; width: 20px; margin: 6px" xml:space="preserve">
                                    <path style="fill:#719FA3;" d="M504,432.6c0,7.2-5.6,12-12.8,12H12.8c-7.2,0-12.8-4.8-12.8-12l0,0c0-7.2,5.6-12,12.8-12H492
                                    C498.4,420.6,504,425.4,504,432.6L504,432.6z"/>
                <path style="fill:#7A0300;" d="M240,334.2c24.8,0,44-20,44-45.6v-180c0-24.8-19.2-45.6-44-45.6l0,0c-24.8,0-44,20-44,45.6v180
                                    C196,314.2,215.2,334.2,240,334.2L240,334.2z"/>
                <path style="fill:#490000;" d="M193.6,288.6c0,24.8,20,45.6,45.6,45.6l0,0c24.8,0,45.6-20,45.6-45.6v-180c0-24.8-20-45.6-45.6-45.6
                                    l0,0"/>
                <path style="fill:#D32A0F;" d="M271.2,324.6c17.6-17.6,17.6-46.4,0-64.8L85.6,75c-17.6-17.6-46.4-17.6-64,0l0,0
                                    C4,92.6,4,121.4,21.6,139.8l184.8,184.8C224.8,342.2,253.6,342.2,271.2,324.6L271.2,324.6z"/>
                <path style="fill:#A00D05;"
                      d="M271.2,324.6L271.2,324.6c17.6-17.6,17.6-46.4,0-64.8L85.6,75c-17.6-17.6-46.4-17.6-64,0l0,0"/>
                <path style="fill:#D32A0F;" d="M496,362.2l-142.4-28l24.8-24.8l-172-172c-17.6-17.6-17.6-46.4,0-64.8c17.6-17.6,46.4-17.6,64.8,0
                                    l172,172l24.8-24.8L496,362.2z"/>
                <path style="fill:#A00D05;" d="M206.4,72.6c17.6-17.6,46.4-17.6,64.8,0l172,172l24.8-24.8l28,142.4"/>
                                </svg>
            <h2>{{ title }}</h2>
        </header>
        <main class="h-exc-main">
            <div class="h-exc-content">
                <aside>
                    <h5><i>What can i do?</i></h5>
                    <ul>
                        <li>
                            <a href="/">Go to homepage</a>
                        </li>
                        <li>
                            <a href="{{ returnLink }}">Go back</a>
                        </li>
                        <li>
                            <a target="_blank" href="{{ report }}">Report error to developer</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://hyper.com/php/report?website={{ website }}">Report
                                error to hyper</a>
                        </li>
                    </ul>
                </aside>
                <div class="h-exc-detail">
                    <h5><i>Message</i></h5>
                    <p>{{ message|raw }}</p>
                    {{ stackTrace|raw }}
                </div>
            </div>
        </main>
        <footer class="h-exc-footer">
            <small>
                <i>
                    Powered by hyper &copy; Error reported {{ now|date('l, F j, Y \a\\t g:i:s A') }}
                </i>
            </small>
        </footer>
    </div>

    </body>

    </html>

{% endcompress %}